<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Oven.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MachineNumber" value="0" />
    <add key="MachineWorker" value="0" />
    <add key="MachineMin" value="1" />
    <add key="MachineMax" value="3000" />
    <add key="MachineTmp" value="3000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Oven.Properties.Settings>
      <setting name="MachineNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MachineWorker" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MachineMax" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="MachineTmp" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ConnectSql" serializeAs="String">
        <value>Password=actionmachine;Persist Security Info=True;User ID=machine;Initial Catalog=IQMES3;Data Source=192.168.10.254</value>
      </setting>
    </Oven.Properties.Settings>
  </userSettings>
</configuration>
